body {
  background-color: hsl(233, 47%, 7%);
}

article > * + * {
  margin-top: 0;
}

img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-130deg)
    saturate(600%) contrast(0.8);
  object-fit: cover;
}

.card {
  background-color: hsl(244, 38%, 16%);
}
.main {
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.16);
  margin: 0 auto;
  /* min-height: 100vh;
  align-items: center; */
  max-width: 62.5rem;
  display: grid;
  margin-top: 10rem;
}
.grid2 {
  display: grid;
  gap: 0.9 rem;
}

/*
desktop only style
*/
@media (min-width: 40em) {
  .grid {
    display: flex;
    flex-direction: row-reverse;
  }

  .grid > * {
    width: 50%;
  }
  .grid2 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/*
mobile only style
*/
@media (max-width: 40em) {
  .card {
    text-align: center;
  }
}

/* div.card {
  grid-row-start: 1;
  grid-row-end: 3;
} */

.picture article,
.picture div,
.picture header {
  height: 100%;
}

.div.card ul {
  list-style-type: none;
  padding: 0%;
  margin: 0%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  grid-auto-rows: minmax(4rem, auto);
}

body {
  color: white;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(254, 255, 255, 0.555);
}
h1 {
  font-family: "Inter", sans-serif;
  font-size: 29px;
}

div.card {
  padding: 5rem;
}

div.card ul span {
  display: block;
}

div.card h1 span {
  font-weight: 700;
  color: hsl(277, 64%, 61%);
  font-family: "Inter", sans-serif;
}

.card li span:first-child {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.card li span:nth-child(2) {
  font-family: "Lexend Deca", sans-serif;
  color: rgba(254, 255, 255, 0.555);
  font-weight: 400;
  font-size: 10px;
}
